# Custom

*.ini

.sconsign.dblite

build/

scons-imgui-example
./application
application
application/


windows/libs/glfw/*
windows/libs/glfw/
windows/libs/glfw


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Local GLFW build/cache
libs/glfw/
libs/imgui/
libs/imgui_backends/
libs/stb/
macos/build/
macos/application/

.DS_Store